@{
    ViewBag.Title = "Create plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <p class="lead"> You can choose between seven different plans. Each plan has it's own unique features for you to fill. Choose the plan that's best suited for your needs and let the planing begin.</p>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>The Simple Plan</h3>
        <p>
            A Simple Business Plan. Ideal for simple palns and loan application.
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("SimplePlan", "Plan")">Create simple plan &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>Service</h3>
        <p>
            Simple Service Plan suitable for service based industries.
        </p>
        <p>
            <a class="btn btn-default" href="">Create service plan &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>Retail</h3>
        <p>
            Simple Retail Plan suitable for the retail industry.
        </p>
        <p>
            <a class="btn btn-default" href="">Create retail plan &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>New start business</h3>
        <p>
            A Simple Business Plan for Start Up Businesses.
        </p>
        <p>
            <a class="btn btn-default"  href="">Create New Start Business plan &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>Manufacturing</h3>
        <p>
            Simple Manufacturing Plan suitable for the manufacturing industry.
        </p>
        <p>
            <a class="btn btn-default" href="">Create manufactoring plan &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>Hospitality</h3>
        <p>
            Simple Hospitality Plan suitable for the hospitality industry.
        </p>
        <p>
            <a class="btn btn-default" href="">Create hospitality plan &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>Consulting</h3>
        <p>
            Simple Consulting Plan that enables consultants to plan for their own business.
        </p>
        <p>
            <a class="btn btn-default" href="">Create consulting plan &raquo;</a>
        </p>
    </div>
</div> 